<h1>Places I Have Been</h1>
<% places = Place.all %>

<ul>
    <% for place in places %>
        <li> <%= place["name"]%> </li>
    <% end %>    
</ul>

<p>New place</p>

<p>There are <%= places.count%> places</p>